body {
  margin: 1em 2em;
  color: black; background-color: white;
  font-family: "DejaVu Sans", Verdana, sans-serif;
}
samp, tt, code {
  font-family: "DejaVu Sans Mono", Consolas, monospace;
}
pre {
  font-family: "DejaVu Sans Mono", Consolas, monospace;
  background-color: #eeeeee;
}
